.cart {
  &__total {
    margin-top: 60px;
    margin-bottom: 60px;

    @media (max-width: $phone) {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__block {
    margin-top: 60px;
    margin-bottom: 60px;

    @media (max-width: $phone) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &__missed {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 60px;
    border-top: 1px solid $grey-6;

    @media (max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 20px;
    }
  }
}
