@import 'src/utils/utils';

.site-nav {
  margin-top: 60px;
  margin-bottom: 60px;

  @media(max-width: $phone) {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  & + .site-nav .site-nav__wrapper {
    padding-top: 60px;
    border-top: 1px solid $grey-6;

    @media(max-width: $phone) {
      padding-top: 0;
      border-top: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-family: $title-font;
    font-size: 40px;
    font-weight: 300;
    line-height: 45px;

    @media(max-width: $phone) {
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 35px;
    }

    em {
      font-style: normal;
      color: $blue-1;
    }
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;

    @media(max-width: $tablet) {
      grid-column-gap: 20px;
    }
    @media(max-width: $phone) {
      grid-template-columns: 1fr;
      grid-row-gap: 15px;
    }
  }

  &__block {

    & ul:first-child,
    & ol:first-child {
      margin-top: 0;
    }
  }

  &__list {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    list-style: none;

    @media(max-width: $phone) {
      margin-top: 10px;
    }
  }

  &__item {

    &:not(:first-of-type) {
      margin-top: 10px;

      @media(max-width: $phone) {
        margin-top: 5px;
      }
    }

    .site-nav__link {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;

      @media(max-width: $phone) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
    color: $dark-blue-1;
    transition: color 0.3s;

    @media(max-width: $phone) {
      font-size: 16px;
      line-height: 25px;
    }

    &:hover {
      @media(min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }
}