.cart-missed {
  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-family: $title-font;
    font-size: 40px;
    font-weight: 300;
    line-height: 45px;

    @media (max-width: $phone) {
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 35px;
    }

    em {
      font-style: normal;
      color: $blue-1;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 20px;
    row-gap: 20px;

    @media (max-width: $phone) {
      flex-direction: column;
      justify-content: initial;
      column-gap: unset;
      row-gap: unset;
    }
  }

  &__item {
    @media (max-width: $phone) {
      border-bottom: 1px solid $grey-6;
    }
  }

  &__item:first-of-type {
    @media (max-width: $phone) {
      .catalog-card__wrapper {
        padding-top: 0;
      }
    }
  }
}
