/* stylelint-disable */

@font-face {
  font-family: "icon";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/icon/icon.woff2") format("woff2");
}

@font-face {
  font-family: "BEERRESOURCE";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/BEERRESOURCE/BEERRESOURCE-Light.woff")
    format("woff");
}

@font-face {
  font-family: "NeueMachina";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../assets/fonts/NeueMachina/NeueMachina-300.woff2") format("woff2"),
    url("../assets/fonts/NeueMachina/NeueMachina-300.woff") format("woff");
}

@font-face {
  font-family: "NeueMachina";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../assets/fonts/NeueMachina/NeueMachina-400.woff2") format("woff2"),
    url("../assets/fonts/NeueMachina/NeueMachina-400.woff") format("woff");
}

@font-face {
  font-family: "NeueMachina";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../assets/fonts/NeueMachina/NeueMachina-700.woff2") format("woff2"),
    url("../assets/fonts/NeueMachina/NeueMachina-700.woff") format("woff");
}

@font-face {
  font-family: "NeueMachina";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("../assets/fonts/NeueMachina/NeueMachina-800.woff2") format("woff2"),
    url("../assets/fonts/NeueMachina/NeueMachina-800.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../assets/fonts/Inter/Inter-400.woff2") format("woff2"),
    url("../assets/fonts/Inter/Inter-400.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../assets/fonts/Inter/Inter-500.woff2") format("woff2"),
    url("../assets/fonts/Inter/Inter-500.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../assets/fonts/Inter/Inter-600.woff2") format("woff2"),
    url("../assets/fonts/Inter/Inter-600.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../assets/fonts/Inter/Inter-700.woff2") format("woff2"),
    url("../assets/fonts/Inter/Inter-700.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("../assets/fonts/Inter/Inter-800.woff2") format("woff2"),
    url("../assets/fonts/Inter/Inter-800.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("../assets/fonts/Inter/Inter-900.woff2") format("woff2"),
    url("../assets/fonts/Inter/Inter-900.woff") format("woff");
}
