.checkbox {
  display: flex;
  font-family: $main-font;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;

  &__label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &:has(:checked) {
    .checkbox {
      &__box {
        color: $blue-1;
      }
    }
  }

  &__box {
    position: relative;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    color: $grey-6;
    border: 1px solid currentColor;
    border-radius: 4px;
    background-color: $white-1;
    transition:
      background-color 0.3s,
      border 0.3s;
    flex-shrink: 0;
    order: -1;

    &:before {
      transition: border 0.3s;
    }
  }

  &:not(.checkbox--toggle) {
    input[type="checkbox"] {
      &:checked {
        & + .checkbox__box {
          background-color: currentColor;
          border-color: currentColor;

          &:before {
            position: absolute;
            top: 2px;
            width: 5px;
            height: 10px;
            border-right: 2px solid $white-1;
            border-bottom: 2px solid $white-1;
            transform: rotate(45deg);
            content: "";

            @media (max-width: $phone) {
              top: 2px;
              left: 6px;
              width: 6px;
              height: 11px;
            }
          }
        }
      }
    }

    input[type="radio"] {
      &:checked {
        & + .checkbox__box {
          &:before {
            background-color: $white-1;
            border: 5px solid currentColor;

            @media (max-width: $phone) {
              border-width: 4px;
            }
          }
        }
      }

      & + .checkbox__box {
        border-radius: 50%;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $white-1;
          border: 1px solid $grey-6;
          border-radius: 50%;
          will-change: border-width;
          content: "";
        }
      }
    }
  }

  &--toggle {
    &:has(:checked) {
      .checkbox {
        &__box {
          background-color: currentColor;

          &:before {
            left: calc(100% - 20px);
          }
        }
      }
    }

    .checkbox {
      &__box {
        position: relative;
        width: 36px;
        height: 20px;
        display: flex;
        background-color: $grey-6;
        border: 0;
        outline: 1px solid transparent;
        border-radius: 10px;
        transition: background-color 0.3s;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background-color: $white-1;
          border: 1px solid $grey-6;
          border-radius: 10px;
          transition: left 0.3s;
          content: "";
        }
      }
    }
  }
}
