@import 'src/utils/utils';

.Code {
  @include zero;

  &__header {
    @include zero;
    font-family: $title-font;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: $dark-blue-1;

    @media(max-width: $phone) {
      line-height: 25px;
    }
  }

  &__text {
    @include zero;
    margin-top: 10px;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: $dark-blue-1;

    @media(max-width: $phone) {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__number {
    margin-top: 15px;
    margin-bottom: 15px;

    .styles_react-code-input__CRulA {
      display: flex;
      column-gap: 10px;

      input {
        width: 50px !important;
        height: 60px !important;
        padding-right: 9px;
        padding-left: 9px;
        border: 1px solid $grey-6 !important;
        border-radius: 8px;
        font-family: $main-font;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $dark-blue-1;
        outline: none;
        transition: 0.3s;
        caret-color: $black-1 !important;

        &:focus {
          border-color: $blue-1 !important;
        }

        &:first-child,
        &:last-child {
          border: 1px solid $grey-6;
          border-radius: 8px;
        }

      }

    }
  }

  &__button {
    @include zero;
    border: 0;
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-decoration-line: underline;
    color: $blue-1;
    background-color: transparent;
    cursor: pointer;

    @media(min-width: $desktop-only) {

      &:hover {
        text-decoration: none;
      }
    }
    @media(max-width: $phone) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__seconds {
    @include zero;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $grey-8;

    @media(max-width: $phone) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}