@import 'src/utils/utils';

.RequestProduct {

  &__header {
    margin-bottom: 30px;

    @media(max-width: $phone) {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-family: $title-font;
    font-size: 40px;
    font-weight: 300;
    line-height: 45px;

    @media(max-width: $phone) {
      font-size: 30px;
      line-height: 35px;
    }
  }

  &__post-title {
    margin: 0;
    margin-top: 20px;

    @media(max-width: $phone) {
      margin-top: 15px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media(max-width: $phone) {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }
  }

  &__field {
    position: relative;

    &--wide {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  &__file {
    display: grid;
    align-items: center;
    grid-template-columns: 277px 1fr;
    grid-column-gap: 20px;

    @media(max-width: $phone) {
      align-items: flex-start;
      grid-template-columns: 40px 1fr;
      grid-column-gap: 10px;
    }
  }

  &__file-button {
    @media(max-width: $phone) {
      padding: 0;
    }

    span {
      @media(max-width: $phone) {
        display: none;
      }
    }
  }

  &__file-warning {
    margin: 0;
    color: $grey-8;

    @media(max-width: $phone) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    padding-right: 30px;
    padding-bottom: 27px;
    padding-left: 30px;
    border: 1px dashed $grey-8;
    border-radius: 8px;

    @media(max-width: $phone) {
      padding-top: 9px;
      padding-right: 9px;
      padding-bottom: 9px;
      padding-left: 9px;
    }
  }

  &__dropzone-text {
    margin: 0;
    color: $grey-8;
  }

  &__dropzone-button {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $main-font;
    font-size: inherit;
    line-height: inherit;
    text-decoration: underline;
    color: $blue-1;
    background: 0;
    cursor: pointer;

    &:hover {
      @media(min-width: $desktop-only) {
        text-decoration: none;
      }
    }
  }

  &__files-list {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  &__files-item {
    display: flex;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__files-info {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__files-delete {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    border: 0;
    color: $dark-blue-1;
    background-color: transparent;
    transition: color 0.3s;
    outline: none;
    cursor: pointer;

    @media(max-width: $tablet) {
      color: $black-1;
    }

    &:hover {
      @media(min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 15px;
      height: 1px;
      background: transparent;
      vertical-align: bottom;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentcolor;
        content: '';
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentcolor;
        content: '';
        transform: rotate(-45deg);
      }
    }
  }

  &__files-name {
    margin: 0;
    text-align: left;
  }

  &__files-size {
    margin: 0;
    text-align: right;
    color: $grey-7;
  }

  &__errors {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__errors-text {
    margin: 0;
    text-align: left;
    color: $red-1;
  }

  &__terms {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 277px;
    grid-gap: 20px;

    @media(max-width: $phone) {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 9px;
    }
  }

  &__legal {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    color: $grey-8;
    gap: 10px;

    @media(max-width: $phone) {
      font-size: 12px;
      line-height: 18px;
      order: 1;
    }

    p {
      margin: 0;
    }

    a {
      text-decoration: underline;
      color: $blue-1;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration: none;
        }
      }
    }
  }

  &__submit {
    @media(max-width: $phone) {
      width: 100%;
      min-width: unset;
    }
  }
}