@import 'src/utils/utils';

.product-questions {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 277px;
  grid-column-gap: 60px;
  column-gap: 60px;

  @media(max-width: $tablet) {
    grid-template-columns: minmax(0, 1fr);
  }

  &__main {
    width: 100%;
    max-width: 800px;

    @media(max-width: $tablet) {
      max-width: unset;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;

    sup {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: $grey-8;
      transform: translateY(-5px);

      @media(max-width: $phone) {
        font-size: 12px;
      }
    }
  }

  &__sidebar {
    width: 277px;
  }

  &__button {
    position: sticky;
    top: 100px;
    min-width: 277px;

    @media(max-width: $tablet) {
      display: none;
    }
  }
}